


#container {

  display: flex;
  justify-content: center;
  
}


#topbutton{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#edit{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

#grid{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    border: 5px black;
    border: 2px solid #000000;
    
   
   

  
}

#reset{
  display: flex;
  align-items: center;
  justify-content: center;
}

#button{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.grid-item{
    width: 16px;
    height: 16px;
    
    
      
}

